@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}
.area{
    background: #93f0ee;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100%;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 114%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(1, 19, 54, 0.2);
    animation: animate 25s linear infinite;
    bottom: -300px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0px 30px;
    gap: 474px;
    position: relative;
    width: 95vw;
    height: 80px;
    position: fixed;
    z-index: 1000;
}

/* ↓ここからハンバーガーメニュー */
#nav{
    position: absolute;
    top: 0;
    /*ナビメニューを左に隠した状態になる*/
    left: -40%;
    width: 40%;
    height: 100vh;
    background: #666;
    /*０.7秒かけてナビメニューがスライドする*/
    transition: .7s;
}
#nav ul{
    padding-top: 80px;
}
#nav ul li{
    list-style-type: none;
    font-size: 20px;
}
#nav a{
    display: block;
    text-decoration: none;
    color: #000000;
    margin: 0 15px;
    padding: 10px;
    transition: .5s;
}
#nav li a:hover{
    color: #666;
    background: #cd5c5c;
    border-bottom: none;
}
#hamburger {
    display: block;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 50px;
    height: 44px;
    cursor: pointer;
    transition: 1s;
}
.inner_line {
    display: block;
    position: absolute;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #666;
    transition: 1s;
    border-radius: 4px;
}
#line1 {
    top: 0;
}
#line2 {
    top: 20px;
}
#line3 {
    bottom: 0px;
}
.in{
    transform: translateX(100%);
}
.line_1,.line_2,.line_3{
    background: #000000;
}
.line_1 {
    /*-45度回転させる*/
    transform: rotate(-45deg);
    top: 0;
}
.line_2 {
    opacity: 0;
}
.line_3 {
    /*45度回転させる*/
    transform: rotate(45deg);
    bottom: 0;
}
/* ↑ここまでハンバーガーメニュー */

/* アニメーション */

  p {
    padding: 10px;
  }
  
  .wave {
    font-size: 60px;
    font-weight: bold;
    color: black;
  }
  
  .wave span {
    position: relative;
    animation: wave-anim 2s linear infinite;
  }
  
  /* animation */
  @keyframes wave-anim {
    0% {
      top: 0;
    }
    30% {
      top: 11px;
    }
    70% {
      top: -11px;
    }
    100% {
      top: 0;
    }
  }
  
  /* animation-delay */
  .wave span:nth-child(5n + 1) {
    animation-delay: 0.5s;
  }
  
  .wave span:nth-child(5n + 2) {
    animation-delay: 1s;
  }
  
  .wave span:nth-child(5n + 3) {
    animation-delay: 1.5s;
  }
  
  .wave span:nth-child(5n + 4) {
    animation-delay: 2s;
  }

.header_list{
    display: flex;
    list-style: none;
    gap: 25px;
}

.cardTitle{
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

.title{
    font-size:50px;
    font-weight: bold;
}
.posseimg{
    width:150px;
    height:auto;
}

@media screen and (max-width:400px){
    .title{
        font-size:50px;
    }
    .posseimg{
        width:100px;
        height:auto;
    }

    .wave{
        font-size:45px;
    }
}






.card{
    padding: 40px;
    padding-top:20px;
    min-width:100px;
    width:50%;
    text-align: center;
    margin:auto;
}

.suggest{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    /* background-color: #fff; */
    font-size: large;
    font-weight: bold;
    margin-top: 50px;

    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
}


.suggest:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}


  .outer{
    display:flex;
    flex-wrap: wrap;
    margin:auto;
    background-color: #3bade3;
  }
  @keyframes bggradient{
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .square{
    box-sizing: border-box;
    border:solid 1px black;
    flex: 0 0 20%;
    position: relative;
  }
  /* .outer .gray{
    background-color: gray;
  } */

  .square::before{
    content: '';
    display: block;
    padding-top:100%;
  }
  .square div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .main{
    font-size: 100px;
    height: 150px;
    text-align: center;
  }

.bingoAnimation{
    position:absolute;
display:inline-block;
transition:2s;
transform:rotateY(360deg);
transform:rotateY(0deg);
transform:rotateY(0deg);
transform:rotateY(-360deg);
}

.buttton{
    text-align: center;
}
#button{
    background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        width:215px;
        height:215px;
    background-color: #3bade3;
    border-radius:50%;
    font-size:30px;
    font-weight: bold;
    display: inline-block;
  padding: 2px 25px;
  text-decoration: none;
  color: #FFF;
  border-bottom: sol2id 8px #627295;
  border-right: solid 8px #627295;
  border-radius: 50%;
}

#button:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
    border-right: none;
  }

#history{
    font-size:20px;
}
h2{
    text-align:center;
    padding-top:50px;
    font-weight: bold;
    font-size:30px;
}
#history{
    text-align:center;
}

@media screen and (max-width:400px){
    .card{
        padding-top:40px;
    }
    .cardTitle{
        padding-bottom: 50px;
    }
    #button{
        width:130px;
        height:130px;
        font-size:16px;
        font-weight: bold;
    }
}

.topp{
    width: 250px;
    height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 5px;
  background: #5CB85C;
  opacity: 0.9;
  border-radius: 30px;
  font-weight: bold;
  color:black;
}
.topp a{
    padding-top:30px;
    text-decoration: none;
    line-height: 5px;
    position: absolute;
    padding-left: 46px;
}
@media screen and (max-width:400px){
    .topp{
        width:140px;
    }
    .topp a{
        font-size: 10px;
        font-weight: bold;
        color:black;
        line-height:0;
        padding-left: 22px;
    }
}